<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Energy{% endblock %}</title>

    <!-- Liên kết đến Bootstrap từ CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Liên kết đến tệp CSS tùy chỉnh của bạn -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <!-- Liên kết kiểu chữu Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/images/logo.png" alt="MyApp Logo" class="logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if 'user' in session %} <!-- Hiển thị nút Nhập liệu nếu người dùng đã đăng nhập -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('nhap_lieu') }}">Nhập liệu tiêu thụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('update_consumption') }}">Cập nhật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search_consumption') }}">Tìm kiếm</a>
                </li>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thống kê
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('show_price') }}">Hiển thị giá cả hiện nay</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('monthly_report') }}">Thống kê theo tháng</a></li>
                    </ul>
                </div>
            </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('log_out') }}">Đăng xuất</a>
                </li>
            {% else %} <!-- Hiển thị nút Đăng nhập nếu người dùng chưa đăng nhập -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Trang chủ</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Đăng nhập</a>
                </li>
            </ul>
            {% endif %}

            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
